/* ======================= */
/* === Content Columns === */
/* ======================= */

#content-columns {
    margin-bottom: 100px;
    text-align: center;
}

#content-columns h2 {
    margin-bottom: 60px;
}

#content-columns .column .inner {
    padding: 0 30px;
}

/* ===================== */
/* === Media Queries === */
/* ===================== */

/* Extra Large devices (desktops, less than 1281px) */
@media (max-width: 1280.98px) {



}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {



}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    #content-columns .column {
        margin-bottom: 45px;
    }
    
    #content-columns .column:nth-last-child(1) {
        margin-bottom: 0;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {



}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {



}







